<% content_for :title, "Edita tus datos personales | Baratísimo Bazar" %>

<div class="account-business-settings-edit">
  <div class="container-edit-profile">

    <div class="products-navigation">
      <ol>
        <li>
          <%= link_to business_account_settings_path do %>
            <span>Ajustes</span>
            <svg class="icon">
              <use xlink:href="<%= asset_path('icons/business.svg#flecha-separacion-siguiente') %>"></use>
            </svg>
          <% end %>
        </li>
        <li>
          <span>Actualizar mi contraseña</span>
        </li>

      </ol>
    </div>

    <div class="profile-header">
      <h1 class="profile-title">Actualizar contraseña</h1>
      <p class="profile-description">Modificá tu contraseña para mantener segura tu cuenta.</p>
      <p class="profile-instructions">Elegí una contraseña segura con letras, números y símbolos. No compartas esta información con nadie.</p>
    </div>

    <div class="settings-form">
      <%= form_with model: @user, url: update_password_business_account_settings_path, method: :patch, class: 'edit-name-form' do |form| %>

        <div class="flex-group">

        <div class="form-group">
          <%= form.label :password, 'Nueva contraseña', class: 'form-label' %>
          <%= form.password_field :password, class: 'form-control' %>

          <% if @user.errors[:password].any? %>
            <div class="error-message"><%= @user.errors[:password].first %></div>
          <% end %>
        </div>


        <div class="form-group">
          <%= form.label :password_confirmation, 'Confirmar contraseña', class: 'form-label' %>
          <%= form.password_field :password_confirmation, class: 'form-control', required: true %>

          <% if @user.errors[:password_confirmation].any? %>
            <div class="error-message"><%= @user.errors[:password_confirmation].first %></div>
          <% end %>
        </div>


        </div>

        <div class="form-actions">
          <%= form.submit 'Guardar', class: 'btn btn-primary' %>
          <%= link_to 'Volver', business_account_settings_path, class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
