<% content_for :title, "Mi perfil" %>

<div class="account-business-profiles">
  <section class="sidebar-accounts-business">
    <div class="sidebar-section">

      <%= link_to business_account_main_path, class: 'link' do %>
        <svg class="icon">
          <use xlink:href="<%= asset_path('icons/business.svg#icon-home-account-1') %>"></use>
        </svg>
        <h2 class="title-view">Mi cuenta</h2>
      <% end %>

      <%= link_to business_account_orders_path, class: 'link' do %>
        <div class="barra-active"></div>
        <svg class="icon">
          <use xlink:href="<%= asset_path('icons/business.svg#icon-compras-account-1') %>"></use>
        </svg>
        <h2 class="title-view">Compras</h2>
      <% end %>

      <%= link_to business_account_profile_path, class: 'link' do %>
        <div class="barra-active"></div>
        <svg class="icon">
          <use xlink:href="<%= asset_path('icons/business.svg#icon-user-account-2') %>"></use>
        </svg>
        <h2 class="select-view">Mi perfil</h2>
      <% end %>

      <%= link_to business_account_lists_path, class: 'link' do %>
        <div class="barra-active"></div>
        <svg class="icon">
          <use xlink:href="<%= asset_path('icons/business.svg#icon-listas-account-1') %>"></use>
        </svg>
        <h2 class="title-view">Mis listas</h2>
      <% end %>

      <%= link_to business_account_facturacion_path, class: 'link' do %>
        <div class="barra-active"></div>
        <svg class="icon">
          <use xlink:href="<%= asset_path('icons/business.svg#icon-facturacion-account-1') %>"></use>
        </svg>
        <h2 class="title-view">Facturación</h2>
      <% end %>

      <%= link_to business_account_settings_path, class: 'link' do %>
        <div class="barra-active"></div>
        <svg class="icon">
          <use xlink:href="<%= asset_path('icons/business.svg#icon-ajustes-account-1') %>"></use>
        </svg>
        <h2 class="title-view">Ajustes</h2>
      <% end %>

    </div>
  </section>

  <section class="account-business-content">
    <div class="profile-show-business">

      <div class="categories-title-business">
        <div class="title">
          <%= link_to business_account_main_path, class: 'arrow-back-link' do %>
            <svg class="icon">
              <use xlink:href="<%= asset_path('icons/admin.svg#icon-arrow') %>"></use>
            </svg>
          <% end %>
          <h1 class="category-title">Mi perfil</h1>
          <div class="arrow-back-link space"></div>
        </div>
      </div>

      <div class="profile-container">
        <div class="profile-pictures">

          <%= form_with model: @user, url: update_picture_business_account_profile_path, method: :patch, local: true, html: { class: "profile-form", data: { controller: "avatar-profiles" } } do |f| %>

            <div class="field profile-picture-field">
              <%= f.file_field :profile_picture, accept: "image/*", data: { action: "change->avatar-profiles#preview", avatar_profiles_target: "input" }, class: 'profile-file-input', style: "display: none;" %>
              <div class="profile-picture-preview" data-action="click->avatar-profiles#selectFile">
                <% if @user.profile_picture.attached? %>
                  <%= image_tag url_for(@user.profile_picture), id: "profilePreview", alt: "Vista previa de la foto de perfil", class: "preview-image" %>
                <% else %>
                  <div class="no-image-preview">
                    <p class="no-image-text"><%= "#{@user.first_name.first}#{@user.last_name.first}".upcase %></p>
                  </div>
                <% end %>
              </div>
              <svg class="icon-camera">
                <use xlink:href="<%= asset_path('icons/business.svg#icon-camera-account') %>"></use>
              </svg>
            </div>
          <% end %>

          <div class="user-info">
            <p class="user-name"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
            <p class="user-email"><%= @user.email %></p>
            <p class="user-status"><%= @user.role.humanize %></p>
          </div>
        </div>

        <div class="profile-links">
          <%= link_to informacion_business_account_profile_path, class: 'profile-link' do %>
            <svg class="icon-3d">
              <use xlink:href="<%= asset_path('icons/business.svg#icon-user-3d') %>"></use>
            </svg>
            <div class="link-content">
              <h2 class="link-title">Información Personal</h2>
              <p class="link-description">Información de tu documento de identidad y actividad fiscal.</p>
            </div>
            <svg class="icon-end">
              <use xlink:href="<%= asset_path('icons/business.svg#Icon-arrrow-rigt') %>"></use>
            </svg>
          <% end %>

          <%= link_to business_account_addresses_path, class: 'profile-link' do %>
            <svg class="icon-3d">
              <use xlink:href="<%= asset_path('icons/business.svg#icon-direccion-3d') %>"></use>
            </svg>
            <div class="link-content">
              <h2 class="link-title">Mis Direcciones</h2>
              <p class="link-description">Consulta y actualiza tus direcciones</p>
            </div>
            <svg class="icon-end">
              <use xlink:href="<%= asset_path('icons/business.svg#Icon-arrrow-rigt') %>"></use>
            </svg>
          <% end %>

          <%= link_to business_account_transporte_preferidos_path, class: 'profile-link' do %>
            <svg class="icon-3d">
              <use xlink:href="<%= asset_path('icons/business.svg#icon-transportes-3d') %>"></use>
            </svg>
            <div class="link-content">
              <h2 class="link-title">Mis servicios de envíos</h2>
              <p class="link-description">Transportistas preferidos guardados en mi cuenta.</p>
            </div>
            <svg class="icon-end">
              <use xlink:href="<%= asset_path('icons/business.svg#Icon-arrrow-rigt') %>"></use>
            </svg>
          <% end %>

        </div>
      </div>
      
    </div>
  </section>

</div>

<%= render 'business/shared/footer_business' %>
