<div class="product-new-edit-content">
  <div class="product-content">
    <%= form_with model: @discount_range, url: @discount_range.new_record? ? admin_discount_ranges_path : admin_discount_range_path(@discount_range), method: @discount_range.new_record? ? :post : :put, local: true do |form| %>

      <div class="form-group form-name">
        <div class="form-label-wrapper">
          <%= form.number_field :min_amount,  step: 0.01, class: 'form-input', placeholder: 'Nombre del producto', id: 'product_name' %>
          <label for="min_amount" class="form-label">Monto Mínimo</label>
        </div>
      </div>

      <div class="form-group form-name">
        <div class="form-label-wrapper">
          <%= form.number_field :discount_percentage, step: 0.01, class: 'form-input', placeholder: 'Descripción del producto', id: 'product_name' %>
          <label for="product_description" class="form-label">Descuento (%)</label>
        </div>
      </div>

      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
      <div class="space">
        <%= link_to 'Volver', admin_discount_ranges_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
