<% content_for :title, "Mis compras | Baratísimo Bazar" %>


<div class="purchase-history">
  <div class="purchase-history-container">

    <div class="products-navigation">
      <ol>
        <li>
          <%= link_to account_main_path do %>
            <span class="cuenta">Mi Cuenta</span>
            <svg class="icon">
              <use xlink:href="<%= asset_path('icons/ecommerce.svg#chevron') %>"></use>
            </svg>
          <% end %>
        </li>

        <li>
          <span>Mis compras</span>
        </li>

      </ol>
    </div>

    <div class="arrow-back">
      <div class="header-order-index">
        <h3 class="purchase-history-title">
          Compras
        </h3>
        <div class="barra">
        </div>
        <span class="order-count">
          <%= @orders.count %> compras
        </span>
      </div>

      <div class="search-container" data-controller="search">
        <%= form_with url: ecommerce_orders_path, method: :get, data: { controller: 'search' } do |form| %>

          <!-- Icono de búsqueda (no cambia) -->
          <svg class="icon">
            <use xlink:href="<%= asset_path('icons/admin.svg#icon-search-button') %>"></use>
          </svg>

          <div class="search-input-container">
            <%= form.text_field :query_texto, placeholder: "Nº de compra...", value: params[:query_texto], class: 'search-input', data: { search_target: 'input', action: 'input->search#toggleClearButton' } %>
          </div>

          <button type="button" id="clear-search" class="clear-button" style="display: none;" data-action="click->search#clearSearch" data-search-target="clearButton">
            <svg class="icon">
              <use xlink:href="<%= asset_path('icons/admin.svg#icon-clear') %>"></use>
            </svg>
          </button>

          <%= form.submit "Buscar", data: { action: "submit->search#submitForm" } %>
        <% end %>
      </div>
    </div>




  <div class="main-container-orders">
    <% if @orders.any? %>
      <% @orders.each do |order| %>
        <div class="order-item-card">
          <div class="order-item-header">
          <span class="header-card fecha">
            <%= I18n.l(order.created_at, format: "%d de %B %H:%M").downcase %>
          </span>
            <span class="header-card id"># <%= order.id %></span>
          </div>

          <div class="order-item-body">
            <div class="order-item-info">
              <div class="img-container-order">

                <% items_count = order.order_items.first(3).size %>
                <div class="order-images images-<%= items_count %>">
                  <% order.order_items.first(3).each do |item| %>
                    <div class="img-product-order">
                      <% if item.images.attached? %>
                        <%= image_tag url_for(item.images.first), alt: item.product.product_name, class: "product-thumbnail" %>
                      <% else %>
                        <div class="no-image">Sin imagen</div>
                      <% end %>
                    </div>
                  <% end %>
                  <% if items_count > 1 %>
                    <div class="product-info">
                      <span class="summary-label"><%= order.order_items.sum(:quantity) %></span>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="order-item-status">
                <span class="status <%= status_class(order.status) %>">
                  <%= order.status.humanize %>
                </span>

                <% case order.status %>
                  <% when "pendiente" %>
                    <span class="user-name">Aún no has finalizado tu compra.</span>
                  <% when "pago_pendiente" %>
                    <span class="user-name">Paga ahora para asegurar tu stock.</span>
                  <% when "pagado" %>
                    <span class="user-name">Tu pago ha sido confirmado con éxito.</span>
                  <% when "en_preparacion" %>
                    <span class="user-name">Tu compra está siendo preparada.</span>
                  <% when "listo_para_retirar" %>
                    <span class="user-name">Acercate a el Baratísimo para retirar tu compra</span>
                  <% when "enviado" %>
                    <span class="user-name">¡Tu compra ya está en camino!</span>
                  <% when "entregado" %>
                    <span class="user-name">¡Gracias por tu compra!</span>
                  <% when "cancelado" %>
                    <span class="user-name">Tu compra ha sido cancelada.</span>
                  <% else %>
                    <span class="user-name">No hay un estado disponible para tu compra.</span>
                <% end %>



              </div>

              <%= link_to ecommerce_order_path(order), class: "order-link" do %>
                <span class="order-details-link">Ver compra</span>
              <% end %>

            </div>
            <div class="order-item-detail">
              <span><%= number_to_currency(order.total_price) %></span>
              <span><%= order.payment_method&.name %> - <%= order.shipping_method&.name %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-orders-message">No tienes órdenes registradas.</p>
    <% end %>
  </div>
  </div>
</div>

<%= paginate @orders, theme: 'custom-pagination-orders' %>
<%= render 'shared/whatsApp' %>
<%= render 'shared/footer' %>
