<div class="product-new-edit-content" data-controller="uploader-view-image-single">
  <div class="product-content">
    <%= form_with model: @category, url: admin_category_path(@category), method: :put, local: true do |form| %>

      <div class="form-group form-name">
        <div class="form-label-wrapper">
          <%= form.text_field :category_name, class: 'form-input', placeholder: 'Nombre de la categoría', value: @category.category_name, id: 'product_name' %>
          <label for="product_name" class="form-label">Nombre de la categoría</label>
        </div>
      </div>

      <div class="form-images">
        <div class="complemento-images">
          <div class="image-preview-item-check" data-action="click->uploader-view-image-single#uploadImage" data-uploader-view-image-single-target="imageContainer">
            <% if @category.category_image.present? %>
              <%= image_tag @category.category_image, class: 'image-preview-thumbnail', data: { uploader_view_image_single_target: 'previewImage' } %>
            <% else %>
              <div class="no-image-placeholder" data-uploader-view-image-single-target="placeholder">
                <span>No hay imagen</span>
              </div>
            <% end %>

          </div>
          <%= form.file_field :category_image, class: 'hidden-oculto', data: { uploader_view_image_single_target: 'fileInput' } %>
        </div>
      </div>

      <%= form.submit "Actualizar categoría", class: "btn btn-primary" %>
      <div class="space">
        <%= link_to 'Volver', admin_categories_path, class: 'btn btn-secondary' %>
      </div>

    <% end %>
  </div>
</div>
