

<div class="admin-container">
  <%= render 'admin/shared/sidevar' %>
  <div class="banner-content">

    <div class="settings-main-container">
      <div class="container-section">

        <section class="section-header arrow-back">
          <div class="button-container settings-button">
            <%= link_to admin_settings_path, class: 'arrow-back-link' do %>
              <svg class="icon">
                <use xlink:href="<%= asset_path('icons/admin.svg#icon-arrow') %>"></use>
              </svg>
              <span>Atrás</span>
            <% end %>
          </div>
        </section>

        <section class="section-body">
         <div class="card-user-container">
          <% @bank_accounts.each do |bank_account| %>

            <div class="card-user">

              <div class="card-user-top">
                <p class="fecha"><%= I18n.l(bank_account.created_at, format: "%d de %B %H:%M").downcase %></p>
                <% if bank_account.estado == "activo" %>
                  <p class="role activo"><%= bank_account.estado.humanize %></p>
                <% else %>
                  <p class="role inactivo"><%= bank_account.estado.humanize %></p>
                <% end %>

              </div>

              <div class="card-user-bottom">
                <div class="user-info">
                  <p class="name"><%= bank_account.alias %></p>
                  <p class="correo"><%= bank_account.tipo.upcase %> - <%= bank_account.numero %></p>

                </div>

                <div class="filter-container-modal-menu" data-controller="menu">
                  <div class="filter">
                    <%= button_tag type: 'button', class: 'filter-button', data: { action: "click->menu#open" } do %>
                      <svg class="icon">
                        <use xlink:href="<%= asset_path('icons/admin.svg#menu-icon-adreses') %>"></use>
                      </svg>
                    <% end %>
                  </div>

                  <!-- Modal -->

                  <div class="modal-background" data-menu-target="background" data-action="click->menu#close">
                  </div>
                  <div class="modal-lateral" data-menu-target="modal">
                    <div class="modal-lateral-content">

                      <div class="modal-lateral-header">
                        <button class="close-modal" data-action="click->menu#close">
                          <svg class="icon">
                            <use xlink:href="<%= asset_path('icons/admin.svg#icon-custom') %>"></use>
                          </svg>
                        </button>
                      </div>

                      <div class="modal-lateral-body">
                        <div class="modal">

                          <%= link_to edit_admin_bank_account_path(bank_account), class: "btn-info btn-detalle" do %>
                            <svg class="icon">
                              <use xlink:href="<%= asset_path('icons/admin.svg#icon-editar') %>"></use>
                            </svg>
                            <span>Editar</span>
                          <% end %>

                          <%= button_to admin_bank_account_path(bank_account), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este token?' }, class: 'btn-info btn-detalle' do %>
                            <svg class="icon">
                              <use xlink:href="<%= asset_path('icons/admin.svg#icon-cancelar') %>"></use>
                            </svg>
                            <span class="ms-2">Eliminar</span>
                          <% end %>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

         </div>
        </section>

      </div>


    </div>

    <%= link_to new_admin_bank_account_path, class: "btn-add-user" do %>
      <svg class="icon">
        <use xlink:href="<%= asset_path('icons/admin.svg#add-libre') %>"></use>
      </svg>
    <% end %>
  </div>
</div>
