<turbo-frame id="cart-item-container">
  <div class="cart-item-container">
    <% cart_item = cart.cart_items.find_by(product_id: product.id, variant_id: nil) %>
    <% if cart_item %>
      <% if cart_item.quantity == 1 %>
        <!-- Formulario para eliminar el producto del carrito -->
        <%= form_with url: ecommerce_cart_item_path(cart_item), method: :delete, local: true do |f| %>
          <button type="submit" class="btn btn-remove-from-cart">
            <!-- SVG Icono -->
            <svg class="icon">
              <use href="<%= asset_path('icons/admin.svg#icon-delete-blanco') %>"></use>
            </svg>
          </button>
        <% end %>
      <% else %>
        <!-- Formulario para reducir la cantidad de 1 artículo del carrito -->
        <%= form_with url: ecommerce_cart_item_path(cart_item), method: :put, local: true do |f| %>
          <%= f.hidden_field :quantity, value: cart_item.quantity - 1 if cart_item.quantity > 1 %>
          <%= f.submit "-", class: "btn btn-reduce-quantity" %>
        <% end %>
      <% end %>

      <span class="cart-item-quantity">
        <%= cart_item.quantity %>
        <%= cart_item.quantity == 1 ? 'unidad' : 'unidades' %>
      </span>

      <%= form_with url: ecommerce_cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.hidden_field :variant_id, value: nil, id: "main-product-variant-id" %>
        <%= f.submit "+", class: "btn btn-add-to-cart" %>
      <% end %>
    <% else %>
      <%= form_with url: ecommerce_cart_items_path, method: :post, class: "add-to-cart-form" do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.hidden_field :variant_id, value: nil, id: "main-product-variant-id" %>
        <%= f.submit "Agregar al carrito", class: "btn btn-add-to-carrito" %>
      <% end %>
    <% end %>
  </div>
</turbo-frame>


