<% content_for :title, "Novedades | Baratísimo Bazar" %>

<div class="novedades-container">
  <% if @products.any? %>
    <div class="novedades-header">
      <h1>Novedades</h1>
      <span>Estos son todos nuestros productos recién llegados. ¡Aprovéchalos antes de que se agoten!</span>
    </div>
    <div class="novedades-products">
      <% @products.each do |product| %>
        <div class="product-card">
          <%= link_to ecommerce_product_path(product), class: "product-link" do %>

            <div class="product-image">
              <% if product.product_images.attached? %>
                <%= image_tag product.product_images.first.variant(resize_to_limit: [200, 200]).processed, alt: product.product_name, class: "product-img" %>
              <% else %>
                <div class="no-image">
                  <svg class="icon no-image-icon">
                    <use xlink:href="<%= asset_path('icons/admin.svg#icono-agregar-foto') %>"></use>
                  </svg>
                </div>
              <% end %>
            </div>

            <div class="product-details">
              <div class="product-meta">
                <p class="product-added-date">Ingresó <%= time_ago_in_days(product.created_at) %></p>
              </div>
              <span class="name"><%= product.product_name %></span>

              <div class="product-pricing">
                <% if product.price_discount.present? && product.price_discount > 0 %>
                  <p class="price-original"><%= number_to_currency(product.price) %></p>
                  <div class="section-price">
                    <p class="price-discounted"><%= number_to_currency(product.discounted_price) %></p>
                    <p class="discounted"><%= product.price_discount %>% OFF</p>
                  </div>
                <% else %>
                  <p class="price-normal"><%= number_to_currency(product.price) %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="novedades-none">
      <p>No hay novedades disponibles en este momento.</p>
    </div>
  <% end %>
</div>

<%= paginate @products, theme: 'custom-pagination-ecommerce' %>
<%= render 'shared/whatsApp' %>
<%= render 'shared/footer' %>
