<nav class="sidebar" data-controller="admin--sidebar">
  <div class="sidebar-section">

    <%= link_to admin_root_path,
                class: 'link',
                data: {
                  action: "click->admin--sidebar#activate",
                  "admin--sidebar-target": "link"
                } do %>
      <svg class="icon-1">
        <use xlink:href="<%= asset_path('icons/admin.svg#icon-home-admin-1') %>"></use>
      </svg>
      <svg class="icon-2">
        <use xlink:href="<%= asset_path('icons/admin.svg#icon-home-admin-2') %>"></use>
      </svg>
      <h2>Inicio</h2>
    <% end %>

    <%= link_to home_admin_orders_path,
                class: 'link',
                data: {
                  action: "click->admin--sidebar#activate",
                  "admin--sidebar-target": "link"
                } do %>
      <svg class="icon-1">
        <use xlink:href="<%= asset_path('icons/admin.svg#Icon-pedidos-admin-1') %>"></use>
      </svg>
      <svg class="icon-2">
        <use xlink:href="<%= asset_path('icons/admin.svg#Icon-pedidos-admin-2') %>"></use>
      </svg>
      <h2>Ordenes</h2>
    <% end %>

    <%= link_to admin_products_path,
                class: 'link',
                data: {
                  action: "click->admin--sidebar#activate",
                  "admin--sidebar-target": "link"
                } do %>
      <svg class="icon-1">
        <use xlink:href="<%= asset_path('icons/admin.svg#Icon-galery-admin-1') %>"></use>
      </svg>
      <svg class="icon-2">
        <use xlink:href="<%= asset_path('icons/admin.svg#Icon-galery-admin-2') %>"></use>
      </svg>
      <h2>Galeria</h2>
    <% end %>

    <%= link_to admin_users_main_path,
                class: 'link',
                data: {
                  action: "click->admin--sidebar#activate",
                  "admin--sidebar-target": "link"
                } do %>
      <svg class="icon-1">
        <use xlink:href="<%= asset_path('icons/admin.svg#Icon-users-1') %>"></use>
      </svg>
      <svg class="icon-2">
        <use xlink:href="<%= asset_path('icons/admin.svg#Icon-users-2') %>"></use>
      </svg>
      <h2>Usuarios</h2>
    <% end %>

    <%= link_to admin_settings_path,
                class: 'link',
                data: {
                  action: "click->admin--sidebar#activate",
                  "admin--sidebar-target": "link"
                } do %>
      <svg class="icon-1">
        <use xlink:href="<%= asset_path('icons/admin.svg#icon-ajustes-account-1') %>"></use>
      </svg>
      <svg class="icon-2">
        <use xlink:href="<%= asset_path('icons/admin.svg#icon-ajustes-account-2') %>"></use>
      </svg>
      <h2>Ajustes</h2>
    <% end %>

    <%= link_to destroy_user_session_path,
                method: :delete,
                data: {
                  turbo_method: :delete,
                  turbo_confirm: '¿Estás seguro de que deseas cerrar sesión?'
                },
                class: "link salir" do %>
      <svg class="icon-1">
        <use xlink:href="<%= asset_path('icons/admin.svg#Icon-cerrar-sesion-admin') %>"></use>
      </svg>
      <h2>Salir</h2>
    <% end %>

  </div>
</nav>
